* {
    font-family: "Roboto" sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

aside {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #add8e6;
    color: #ffffff;
    width: 200px;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.branding {
    margin: auto;
}

.branding > img {
    filter: invert(100%);
}

ul > li {
    list-style-type: none;
}

aside img {
    height: 1rem;
    width: auto;
    padding: 5px;
    filter: invert(100%);
}

header {
    grid-area: 1 / 2 / 2 / 3;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.search {

}

.top-right {

}

.user-info {

}

.buttons {

}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #d3d3d3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}